.gantt-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter {
  margin: 20px;
}

.gantt-box {
  width: 100%;
  height: calc(100% - 72px);
  position: absolute;
}

#gantt {
  height: 100%;
}

.baseline {
  position: absolute;
  border-radius: 2px;
  z-index: 0;
  opacity: 0.3;
  height: 12px;
  background: #6dadf0;
  border: 1px solid #4a6bf8;
}

.gantt_tree_content {
  /* text-overflow: ellipsis;
  overflow: hidden; */
}

.gantt_task_cell.weekend {
  background: #eee;
}
